In [1]:
import pandas as pd
import numpy as np

data = pd.read_json("./E-waste_data.json")

In [2]:
data.head()

,record_no,Name,Type,PostalCode,Address,location
0,0,NEA Producer Responsibility Scheme - ALBA E-wa...,"[ICT equipment, Batteries, Lamps]",608549,"50 JURONG GATEWAY ROAD, JEM, #04-30","{'lat': 1.3332002104, 'lng': 103.7431704363}"
1,1,NEA Producer Responsibility Scheme - ALBA E-wa...,"[ICT equipment, Batteries, Lamps]",529510,4 TAMPINES CENTRAL 5,"{'lat': 1.3526723159, 'lng': 103.9443879873}"
2,2,NEA Producer Responsibility Scheme - ALBA E-wa...,"[ICT equipment, Batteries, Lamps]",188024,230 VICTORIA STREET,"{'lat': 1.2998163898000001, 'lng': 103.8559235..."
3,3,NEA Producer Responsibility Scheme - ALBA E-wa...,"[ICT equipment, Batteries, Lamps]",608549,"50 JURONG GATEWAY RD, JEM, #B1-21/22 & #B3-01","{'lat': 1.3332002104, 'lng': 103.7431704363}"
4,4,NEA Producer Responsibility Scheme - ALBA E-wa...,"[ICT equipment, Batteries, Lamps]",609601,2 JURONG EAST STREET 21,"{'lat': 1.3348984372000001, 'lng': 103.7467344..."

In [3]:
data.set_index("PostalCode")

,record_no,Name,Type,Address,location
PostalCode,,,,,
608549,0,NEA Producer Responsibility Scheme - ALBA E-wa...,"[ICT equipment, Batteries, Lamps]","50 JURONG GATEWAY ROAD, JEM, #04-30","{'lat': 1.3332002104, 'lng': 103.7431704363}"
529510,1,NEA Producer Responsibility Scheme - ALBA E-wa...,"[ICT equipment, Batteries, Lamps]",4 TAMPINES CENTRAL 5,"{'lat': 1.3526723159, 'lng': 103.9443879873}"
188024,2,NEA Producer Responsibility Scheme - ALBA E-wa...,"[ICT equipment, Batteries, Lamps]",230 VICTORIA STREET,"{'lat': 1.2998163898000001, 'lng': 103.8559235..."
608549,3,NEA Producer Responsibility Scheme - ALBA E-wa...,"[ICT equipment, Batteries, Lamps]","50 JURONG GATEWAY RD, JEM, #B1-21/22 & #B3-01","{'lat': 1.3332002104, 'lng': 103.7431704363}"
609601,4,NEA Producer Responsibility Scheme - ALBA E-wa...,"[ICT equipment, Batteries, Lamps]",2 JURONG EAST STREET 21,"{'lat': 1.3348984372000001, 'lng': 103.7467344..."
...,...,...,...,...,...
769098,382,Project Homecoming - Ink and toner recycling,[Ink and toner cartridges],"930 YISHUN AVE 2, #4-01","{'lat': 1.4296984797, 'lng': 103.8357764967}"
545078,383,Project Homecoming - Ink and toner recycling,[Ink and toner cartridges],"1 SENGKANG SQUARE & COMPASS ONE, #3-28 / #4-19","{'lat': 1.3920941502, 'lng': 103.8949800326}"
556083,384,Project Homecoming - Ink and toner recycling,[Ink and toner cartridges],"23 SERANGOON\xa0CENTRAL, #4-82/83","{'lat': 1.3504381718, 'lng': 103.8717045495}"
757713,385,Project Homecoming - Ink and toner recycling,[Ink and toner cartridges],"30 SEMBAWANG DRIVE, #5-01","{'lat': 1.4482265318, 'lng': 103.8194621045}"
39802,386,Project Homecoming - Ink and toner recycling,[Ink and toner cartridges],"8 RAFFLES AVENUE, #3-01","{'lat': 1.289509553, 'lng': 103.8556657623}"

In [9]:
data[data['PostalCode'] == 449282]

,record_no,Name,Type,PostalCode,Address,location
238,238,NEA Producer Responsibility Scheme - ALBA E-wa...,"[ICT equipment, Batteries, Lamps]",449282,"278 MARINE PARADE ROAD, MARINE PARADE CC","{'lat': 1.3048285982, 'lng': 103.9095452826}"
376,376,Project Homecoming - Ink and toner recycling,[Ink and toner cartridges],449282,"278 MARINE PARADE\xa0ROAD, #1-02","{'lat': 1.3048285982, 'lng': 103.9095452826}"

In [16]:
data['geometry'] = raw_data['geometry'].apply(lambda x: {"lat": x['coordinates'][1], "lng": x['coordinates'][0]})

In [41]:
data.rename(columns={'E-waste Type': 'Type', 'Address Postal Code': 'PostalCode', "Address Street Name": "Address"}, inplace=True)

In [50]:
from ast import literal_eval

data["Type"] = data["Type"].apply(literal_eval)
data['location'] = data["location"].apply(literal_eval)